# Core
django
djangorestframework
python-dotenv
pyyaml

# Data & ML
pandas
numpy
scikit-learn
tensorflow
mlflow
yfinance
pandas_ta

# Monitoring & Visualization
evidently
plotly
matplotlib
statsmodels

# Deployment & Server
gunicorn
uvicorn
whitenoise
celery
redis
