# Core
django
djangorestframework
python-dotenv
pyyaml

# Data & ML
pandas
numpy
scikit-learn
tensorflow
mlflow
yfinance
pandas_ta
git+https://github.com/rongardF/tvdatafeed.git

# Monitoring & Visualization
evidently
plotly
matplotlib
statsmodels

# Deployment & Server
gunicorn
uvicorn
whitenoise
celery
redis
channels
